<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @restaurant.name %></title>
  </head>
  <body>
    <h1>Showing Restaurants</h1>
    <p>
      <b>Name: </b>
      <%= @restaurant.name %>
    </p>

    <p>
      <b>Address: </b>
      <%= @restaurant.address %>
    </p>

    <p>
      <b>Specialty: </b>
      <%= @restaurant.specialty %>
    </p>

  </body>
</html>
